

<div class="container">

    <div class="alert alert-success" role="alert">
        Funcionário adicionado: {{nome}}
    </div>


    <div class="form-group">
        <label>Nome</label>
         <input type="text" class="form-control"
            (input)="this.nome = $event.target.value"
            [value]="nome">
        <!-- <input type="text" class="form-control" #nomeInput [value]="nome"> -->
    </div>

    <button type="button" (click)="adicionar()"
      [disabled]="nome.length == 0" class="btn btn-primary">Adicionar</button>


</div>
